<div class="side-bar">
    <img src="../assets/Content.svg" class="side-bar-img" alt="logo" height="74px" width="61px">
    <nav>
        <ul class="sidebar-menu">
            <li *ngFor="let item of items">
                <a class="sidebar-button"
                [routerLink]="item.link">
                    <svg [icon]="item.icon"></svg>
                    <span>{{item.span}}</span>
                </a>
            </li>
        </ul>
    </nav>

    <div class="subscribers medium">Подписчики</div>

    <div *ngFor="let subscriber of subscribers$ | async">
        <app-subscriber [profile]="subscriber"></app-subscriber>
      </div>
 
    <a
    [routerLink]="['/login']" class="all-subscribers">
        <span>Все Подписчики</span>
        <img src="../assets/Arrow.svg" alt="">
    </a>

    <footer class="sidebar-footer">
        @if(profile$(); as profile$){ 
            @if(profile$.avatarUrl){
                <img [src]="profile$.avatarUrl | urlPipe" alt="">
            }
            @else{
                <img src="../assets/profile.svg">
                }
                <div class="medium-text">{{profile$.username}}</div>

                <a class="setting-btn" [routerLink]="['/profile', 'me']">
                    <img class="profile-img" src="../assets/cyrcle.svg">
                </a>
        }
    </footer>
</div>
