<div class="side-bar">
    <img src="../assets/Content.svg" class="side-bar-img" alt="logo" height="74px" width="61px">
    <nav>
        <ul class="sidebar-menu">
            <li *ngFor="let item of items">
                <a class="sidebar-button"
                [routerLink]="item.link">
                    <svg [icon]="item.icon"></svg>
                    <span>{{item.span}}</span>
                </a>
            </li>
        </ul>
    </nav>

    <div class="subscribers medium">Подписчики</div>

    <!-- <app-subscriber></app-subscriber> -->

    <a
    [routerLink]="['/login']" class="all-subscribers">
        <span>Все Подписчики</span>
        <img src="../assets/Arrow.svg" alt="">
    </a>
</div>
