:host{
    display: grid;
    grid-template-columns: 112px 1fr;
    gap: 24px;
    align-items: center;
}

.profile-text{
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.profile-header-img{
    width: 112px;
    height: 112px;
}