@font-face {
    font-display: swap;
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 500;
    src: url('assets/fonts/JetBrainsMono-Medium.woff2') format('woff2')
}

:root{
    --light-color: #FFFFFF;
    --dark-color: #000000;
    --primary-color:#AE7AFF;
    --dark-hover-color:#161616;
    --light-transparetn-color: rgba(255, 255, 255, 0.75)
}

*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--dark-color);
    color: var(--light-color);
    font-family: "JetBrains Mono", sans-serif;
}

.skill-tag{
    border: 1px solid var(--light-color);
    display: inline;
    padding: 4px 8px;
    font-size: 12px;
    font-weight: 700;
    margin-right: 4px;
    border-radius: 4px;
    line-height: 16px;
}

.btn{
    border: none;
    background-color: var(--primary-color);
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 700;
    width: 100%;
    border-radius: 2px;
}

h1{
    font-size: 48px;
    font-weight: 800;
    line-height: 56px;
    color: var(--light-color);
    margin-bottom: 60px;
}

.label-form{
    font-size: 12px;
    line-height: 16px;
    font-weight: 700;
    display: block;
    margin-bottom: 16px;   
}

.input-form{
    width: 100%;
    display: block;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    padding: 12px 20px;
    background-color: var(--dark-color);
    border: 1px solid var(--light-color);
    color: var(--light-color) ;
    border-radius: 2px;
}

.medium{
    font-size: 12px;
    line-height: 16px;
    font-weight: 500;
}

.medium-text{
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
}

.medium-name{
    font-weight: 800;
    font-size: 24px;
    line-height: 32px;
}

.medium-username{
    font-weight: 400;
    line-height: 21px;
    font-size: 14px;
}

.medium-800{
    font-size: 18px;
    font-weight: 800;
    line-height: 24px;
}

.tt-form__label{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap:4px;
}

.tt-form__span{
    font-size: 12px;
    line-height: 16px;
    color: var(--light-transparetn-color)
}

.tt-form__input{
    width: 100%;
    padding-top: 12px;
    padding-bottom: 12px;
    background: none;
    border: none;
    border-bottom: 1px solid var(--light-color);
    color: var(--light-transparetn-color)
}

.icon{
    width: 44px;
    height: 44px;
    border: 1px solid var(--light-color);
    border-radius: 2x;
    padding: 14px;
    cursor: pointer;
}