:host{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

header{
    display: grid;
    grid-template-columns: 1fr 174px;
    align-items: center;
}

.profile-header-btn{
    height: 44px;
    text-decoration: none;
    color:var(--dark-color);
    display: flex;
    align-items: center;
    gap:12px;

    img{
        color: var(--dark-color);   
    }
}

.profile-page__body{
    display: grid;
    grid-template-columns: 1fr 340px;
}

.profile-page__post{

}

.profile-page__main{

}